*.iml
*.log
*.tmp
*.temp
*.lock
*.project
*.classpath
*.sass-cache

gulpfile.js
package-lock.json
.DS_Store
src/utils/dev.js

node_modules/
bower_components/
dist/
docs/
temp/
.idea/
.vscode/
.history/